@charset "utf-8";
.working-skill {
  display: block;
}
.working-skill > ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.working-skill > ul > li {
  width: calc(100% / 4 - 10px);
}
.working-skill > ul > li .img_wrap> img {
  width: 100%;
}
.working-ep {
  width: 100%;
  display: none;
  max-width: 1000px;
  margin: 0 auto;
}
.working-ep > ul {
  width: 100%;
  margin: 0 auto;
  max-width: 800px;
}
.working-ep > ul > li {
  width: 100%;
}
.working-ep > ul > li .img_wrap> img {
  width: 100%;
  display: block;
  position: relative;
}

.wrapping p {
  font-family: "Noto Sans KR", sans-serif;
  margin-bottom: 30px;
}
.working-ex {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}
.working-ex > .working-ex-img-wrap {
  width: 100%;
  /* background-color: aquamarine; */
  flex-wrap: wrap;
  gap: 50px;
}
.working-ex > .working-ex-img-wrap > .wrapping {
  width: 100%;
  margin: 120px auto;
}
.working-ex > .working-ex-img-wrap > .wrapping > h2 {
  font-weight: 900;
  font-size: 30px;
  font-family: "Noto Sans KR", sans-serif;
}
.working-ex > .working-ex-img-wrap > .wrapping > .action,
.working-ex > .working-ex-img-wrap > .wrapping > .emotion,
.working-ex > .working-ex-img-wrap > .wrapping > .spare {
  display: flex;
  gap: 20px;
  width: 100%;
}
.working-ex > .working-ex-img-wrap > .wrapping > .action > .working-ex-inner,
.working-ex > .working-ex-img-wrap > .wrapping > .emotion > .working-ex-inner,
.working-ex > .working-ex-img-wrap > .wrapping > .spare > .working-ex-inner {
  width: 100%;
  height: 100vw;
  max-height: 800px;
  border: 1px solid #757575;
  overflow-y: scroll;
}
.working-ex
  > .working-ex-img-wrap
  > .wrapping
  > .action
  > .working-ex-inner
  >.img_wrap
  > img,
.working-ex
  > .working-ex-img-wrap
  > .wrapping
  > .emotion
  > .working-ex-inner
  >.img_wrap
  > img,
.working-ex
  > .working-ex-img-wrap
  > .wrapping
  > .spare
  > .working-ex-inner
  >.img_wrap
  > img {
  width: 100%;
}

.working-ex {
  display: none;
}
.working-ep {
  display: none;
}
@media screen and (max-width: 420px) {
  .ep_inner {
    padding: 0 !important;
  }
  .m_cart_inner {
    padding: 20px;
  }
  .working-ex > .working-ex-img-wrap > .wrapping > .action,
  .working-ex > .working-ex-img-wrap > .wrapping > .emotion,
  .working-ex > .working-ex-img-wrap > .wrapping > .spare {
    display: flex;
    gap: 10px;
    width: 100%;
  }
}
