@charset "utf-8";
.item > .inner {
  padding: 20px;
}

.working-skill {
  display: block;
}
.working-skill > ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.working-skill > ul > li {
  width: calc(100% / 4 - 10px);
}
.working-skill > ul > li > img {
  width: 100%;
}
.working-ep {
  width: 100%;
  display: none;
}
.working-ep > ul {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}
.working-ep > ul > li {
  width: 100%;
}
.working-ep > ul > li > img {
  width: 100%;
}

.wrapping p {
  font-family: "Noto Sans KR", sans-serif;
  margin-bottom: 30px;
}
.working-ex > .working-ex-img-wrap {
  width: 100%;
  /* background-color: aquamarine; */
  flex-wrap: wrap;
  gap: 50px;
}
.working-ex > .working-ex-img-wrap > .wrapping {
  width: 100%;
  max-width: 1000px;
  margin: 120px auto;
}
.working-ex > .working-ex-img-wrap > .wrapping > h2 {
  font-weight: 900;
  font-size: 30px;
  font-family: "Noto Sans KR", sans-serif;
}
.working-ex > .working-ex-img-wrap > .wrapping > .action,
.working-ex > .working-ex-img-wrap > .wrapping > .emotion,
.working-ex > .working-ex-img-wrap > .wrapping > .spare {
  display: flex;
  gap: 20px;
  width: 100%;
}
.working-ex > .working-ex-img-wrap > .wrapping > .action > .working-ex-inner,
.working-ex > .working-ex-img-wrap > .wrapping > .emotion > .working-ex-inner,
.working-ex > .working-ex-img-wrap > .wrapping > .spare > .working-ex-inner {
  width: 100%;
  height: 100vw;
  max-height: 800px;
  border: 1px solid #757575;
  overflow: scroll;
}
.working-ex > .working-ex-img-wrap > .wrapping > .action > .working-ex-inner > img,
.working-ex > .working-ex-img-wrap > .wrapping > .emotion > .working-ex-inner > img,
.working-ex > .working-ex-img-wrap > .wrapping > .spare > .working-ex-inner > img {
  width: 100%;
}

.working-ex {
  display: none;
}
.working-ep {
  display: none;
}

