@charset "utf-8";
.charator{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: block;
}
.charator > .charator-body{
    width: 100%;
}
.charator > .charator-body >div> img{
    width: 100%;
}
