@charset "utf-8";

.cartoon-cover {
  width: 100%;
  display: block;
}
.cartoon-cover > ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-around;
}
.cartoon-cover > ul > li {
  width: calc(100% / 5 - 10px);
}
.cartoon-cover > ul > li > .img_wrap > img {
  width: 100%;
}

.individual-illust {
  width: 100%;
  display: none;
}
.individual-illust > ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.individual-illust > ul > li {
  width: calc(100% / 5 - 10px);
}
.individual-illust > ul > li > .img_wrap > img {
  width: 100%;
}

.subcontract-illust {
  width: 100%;
  display: none;
}
.subcontract-illust > ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.subcontract-illust > ul > li {
  width: calc(100% / 5 - 10px);
}
.subcontract-illust > ul > li > .img_wrap > img {
  width: 100%;
}
