@charset "utf-8";
body {
  position: relative;
}
.overhidden {
  overflow: hidden;
}
.modal_wrap {
  position: fixed;
  background-color: #00000057;
  z-index: 999;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* display: none; */
}
.modal_area {
  position: absolute;
  background-color: #ffffff;
  z-index: 999;
  width: 100%;
  height: 100%;
  max-width: 500px;
  max-height: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.close_wrap {
  display: flex;
  gap: 10px;
}
.close_modal{
  width: 100%;
  padding: 10px;
  background-color: chartreuse;
  color: #000000;
  border: none;
  font-weight: 600;
  font-size: 16px;
  border-radius: 5px;
  text-align: center;
}
.chk_today {
  width: 100%;
  padding: 10px;
  background-color: black;
  color: #fff;
  border: none;
  font-weight: 600;
  font-size: 16px;
  border-radius: 5px;
  text-align: center;
}
.close_modal:hover {
  background-color: rgb(16, 226, 26);
  color: rgb(0, 0, 0);
}
.chk_today:hover{
  background-color: #4d4d4d;
  color: chartreuse;
}
.on {
  display: block;
  background-color: #fff;
}
.ov > .intro_scrolled > .greeting {
  color: #fff;
  text-align: right;
}
@media screen and (max-width: 500px) {
  .modal_area {
    width: calc(100% - 20px);
  }
}
