@charset "utf-8";
.profile-wrap {
  background-color: black;
  position: relative;
}
.profile-wrap > .inner {
  align-items: center;
  display: flex;
  padding: 20px 40px;
}
.profile {
  margin-top: 35px;
  margin-bottom: 40px;
  background-color: aliceblue;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  overflow: hidden;
}
.profile > a > img {
  width: 100%;
  opacity: 0.8;
}
/* 기본 정보 */
.introduce {
  color: #fff;
  font-family: "Noto Sans KR", sans-serif;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  gap: 10px;
}
.besic-info > h3 {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 20px;
  font-weight: 800;
}
.besic-info > div {
  padding-left: 8px;
  font-weight: 300;
}

.sub {
  font-family: "Noto Sans KR", sans-serif;
  margin-top: 10px;
}
.sub > h3 {
  font-size: 20px;
  font-weight: 800;
}
.sub > div {
  font-weight: 300;
  padding-left: 8px;
}

/* 학력 */
.skill-section {
  width: 100%;
  background-color: #fff;
  padding-top: 10px;
}
.skill-section > .inner {
  display: flex;
  justify-content: space-around;
}
.skill-section > .inner > .scholarship > h1 {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 900;
  font-size: 30px;
}

@media screen and (max-width: 900px) {
  .profile-wrap > .inner {
    flex-direction: column;
  }
  .introduce{
    flex-direction: row;
    gap: 20px;
    padding: 0;
  }
  .besic-info > h3,
  .sub > h3{
    font-size: 16px;
  }
  .besic-info > div,
  .sub > div{
    font-size: 14px;
  }
  .sub{
    margin: 0;
  }
  .skill-section > .inner{
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    gap: 20px;
  }
}
